body{
    background: #F98D82;
    margin: 0px;
    height: 100vh;
}
#root{
    height: 100vh;
}
.App{
    height: 100vh;
}
@font-face{
    font-family: Nunito-extralight;
    src: url("./font/Nunito-ExtraLight.ttf");
}
@font-face{
    font-family: Nunito-light;
    src: url("./font/Nunito-Light.ttf");
}
@font-face{
    font-family: Nunito-Medium;
    src: url("./font/Nunito-Medium.ttf");
}
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;

    background: #fff;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #ffcccc;
    padding: 1rem;
    border-radius: 10px ;
    font-family: "Nunito-Medium";
    /* background: transparent; */
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
    font-family: Nunito-light;
    /* padding: 12px; */
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    position: absolute;
    transform: translate(50%, 50%);
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffcccc;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    /* bottom: 10px; */
    /* margin: 0px 0px 13px 0px; */
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffcccc;
    font-weight: 70;
    font-family: "Nunito-light";
}
#joinScreen{

}

#gameScreen{
    display: flex;
    height: 100vh;
}

#gameLeftPane{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    background-color: aqua;
    height: 100%;
}

#gamePane{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 8;
    padding: 100px;
}

#gameRightPane{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    background-color: aqua;
    height: 100%;
}

.gamePaneRow{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
}
.gamePaneCell{
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    align-content: center;
    justify-content: space-around;
    border: 1px solid #333;
    width: 6vw;
    height: 6vw;
}
.whiteBackground{
    background-color: #E6CCAB;
} 
.blackBackground{
    background-color: #9D571C;
}

.gamePaneBorderCell{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    width: 2vw;
    height: 5vw;
}

.pawn_dark{
    background-image: url('./Images/pawn_dark.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.king_dark{
    background-image: url('./Images/king_dark.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.queen_dark{
    background-image: url('./Images/queen_dark.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.knight_dark{
    background-image: url('./Images/knight_dark.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.rook_dark{
    background-image: url('./Images/rook_dark.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.bishop_dark{
    background-image: url('./Images/bishop_dark.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pawn_white{
    background-image: url('./Images/pawn_white.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.king_white{
    background-image: url('./Images/king_white.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.queen_white{
    background-image: url('./Images/queen_white.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.knight_white{
    background-image: url('./Images/knight_white.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.rook_white{
    background-image: url('./Images/rook_white.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.bishop_white{
    background-image: url('./Images/bishop_white.png');
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.highlight{
    background-color: #dbd7d2 !important;
}
.highlight_danger{
    background-color: #a80000 !important;
}